<%- include('partials/head')%>
  <%- include('partials/header')%>

    <div class="titulo-pagina">
      <div class="contenedor-titulo">
        <h1>Carrito de Compras</h1>
      </div>
    </div>

    <div class="container">
      <div class="carrito">
        <div class="productos">
          <% for(let item of productos) { %>




            <div class="producto">
              <img src="images/products/<%= item.imagen %> >
              <div class="detalles-producto">



                <h2 class="nombre-producto">
                  <%= item.nombre_producto %>
                </h2>
                <h3 class="precio-producto">
                  <%= item.precio %>
                </h3>
                <h4 class="oferta-producto">
                  <%= item.oferta %>
                </h4>
                <p class="cantidad">Cantidad: <input value="1" name="">
                <p class="borrar-producto">
                  <i class="fas fa-trash"></i>
                  <span class="borrar">Borrar</span>
              </div>
            </div>
            <% } %>





        </div>

        <div class="total">
          <p>
            <span> Total</span>
            <span>$4300</span>
          </p>
          <p>
            <span>Número de Items</span>
            <span>2 </span>

          </p>

          <button class="button" type="submit"> Checkout</button>



        </div>


      </div>

    </div>

    <%- include('partials/footer')%>